.profile {
  width: 270px;
  height: 368px;

  margin: 50px auto;
  padding: 20px 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.avatar {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  border-radius: 50%;
}
.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;

  color: #212121;
}
.tag,
.location {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}
.stats {
  margin-top: 48px;
  padding-left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.statsItem {
  height: 48px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}
.quantity {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;

  color: #fe4f60;
}
